<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Call Analysis</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
    <h1>Call Transcript</h1>
    <ul>
        <li th:each="line : ${transcriptLines}" th:text="${line}"></li>
    </ul>

    <script th:inline="javascript">
        /*<![CDATA[*/
        // Pass JSON safely as a string, then parse in JS
        var analysisJson = /*[[${analysisJson}]]*/ '{}';
        try {
            var analysisData = JSON.parse(analysisJson);
            console.log(analysisData); // You can use this to highlight transcript lines by stage
        } catch(e) {
            console.error("Failed to parse analysis JSON:", e);
        }
        /*]]>*/
    </script>
</body>
</html>